In [108]:
#importing the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem.wordnet import WordNetLemmatizer

nltk.download('stopwords')
nltk.download('punkt')

import re

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\admin\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\admin\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [128]:
#loading the dataset
df=pd.read_csv('Final_Data_Cleaning.csv')

In [129]:
df.head()

,Unnamed: 0,Gender,Country,Hour,Day,Weekday,IsReshare,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,text,clean_text,translated_text,tokens
0,0,Unknown,Albania,7,12,Friday,True,339.0,127.0,0.0,44.0,0.0,en,"""RT @AdrianRusso82: Our Innovation Lab is offi...",our innovation lab officially open click learn...,innovation officially open click learn tech sc...,"['innovation', 'officially', 'open', 'click', ..."
1,1,Male,Albania,11,7,Thursday,False,87.0,0.0,0.0,22.0,0.0,en,Now Open AWS Asia Pacific (Seoul) Region via ...,now open aws asia pacific seoul region via are...,open pacific region,"['open', 'pacific', 'region']"
2,2,Male,Albania,6,12,Tuesday,False,87.0,0.0,0.0,22.0,0.0,en,A Beginner's Guide to Scaling to 11 Million+ U...,a beginners guide scaling million users amazon...,guide scaling million,"['guide', 'scaling', 'million']"
3,3,Male,Albania,10,12,Tuesday,False,87.0,0.0,0.0,22.0,0.0,en,Bridging AWS and Azure environments via VPN vi...,bridging aws azure environment via vpn via are...,bridging azure environment,"['bridging', 'azure', 'environment']"
4,4,Male,Albania,9,21,Thursday,False,85.0,0.0,0.0,21.0,0.0,en,ELK on AWS ElasticSearch Service + ElasticBean...,elk aws elasticsearch service elasticbeanstalk...,service,['service']

In [130]:
# dropping columns
df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [131]:
df['Lang'].value_counts()

Lang
en    91414
es     1564
fr     1006
tr      664
de      530
_u      339
ja      335
tl      291
in      242
pt      196
nl      161
ko      126
it      116
pl       70
cs       59
zh       56
fi       47
th       45
et       38
ro       35
da       23
cy       23
ru       21
ht       20
sv       19
hu       13
no       11
lt        8
hi        3
sl        2
lv        1
uk        1
Name: count, dtype: int64

In [132]:
df.shape

(97479, 16)

#### At this point we are decided to drop the rows by using `Lang` column which are not translated in english as most of them are translated in it.

In [133]:
# List of substrings to remove
substrings_to_remove = ['_u','es', 'ht','in','it','ja','nl','pt','ro','tl','tr','zh']
# Create a regex pattern to match any of the substrings
pattern = '|'.join(substrings_to_remove)
# Remove rows where 'Lang' contains any of the substrings
df = df[~df['Lang'].str.contains(pattern)]

In [134]:
df.shape

(93460, 16)

# Data Engineering

In [135]:
# dropping columns
df.drop(['Gender','Country','Hour','Day','Weekday','IsReshare','Reach','RetweetCount','Likes','Klout','Lang','text'],axis=1,inplace=True)

In `Sentiment` column, the values are not well defined. So, We are dividing them into 3 categories and then applying mapping.

In [136]:
# the values are not well defined. So, We are dividing them into 3 categories and then applying mapping.
df['Mood'] = df['Sentiment'].apply(lambda x: 
                                       ('Positive' if x > 0 
                                             else ('Neutral' if x == 0 
                                                   else  'Negative')))

In [137]:
# Mapping dictionary
mood_mapping = {
    'Neutral': 0,
    'Positive': 1,
    'Negative': 2
}

df['Mood'] = df['Mood'].map(mood_mapping)

In [138]:
# Mapping dictionary
mood_mapping = {
    0: 'Neutral',
    1: 'Positive',
    2: 'Negative'
}

df['Sentiment'] = df['Mood'].map(mood_mapping)

In [139]:
# Handle missing values by replacing NaNs with an empty string
df['translated_text'] = df['translated_text'].fillna('')

# Convert non-string values to string
df['translated_text'] = df['translated_text'].astype(str)

In [140]:
df.to_csv("Final_Data_Engineering_Data.csv",index=True)